<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.joeun.springsecurity.mapper.UserMapper">

    <!-- 회원 등록 -->
    <insert id="insert">
        INSERT INTO user( user_id, user_pw, name, email )
        VALUES ( #{userId}, #{userPw}, #{name} ,#{email} )
    </insert>

    <!-- 회원 조회 -->
    <select id="select" resultType="Users">
        SELECT *
        FROM user
        WHERE user_no = #{userNo}
    </select>

    <!-- 회원 권한 등록 -->
    <insert id="insertAuth">
        INSERT INTO user_auth( user_id, auth ) 
        VALUES ( #{userId}, #{auth} )
    </insert>

	

</mapper>