<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/user/layout/main_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예외 페이지</title>
</head>
<body layout:fragment="content">

    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://i.imgur.com/1vpSkbW.png" alt="" width="128">
        <h1 class="display-5 fw-bold text-body-emphasis">요청하신 컨텐츠는 존재하지 않습니다.</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                방문하시려는 페이지의 주소가 잘못 입력되었거나, <br>
                페이지의 주소가 변경 혹은 삭제되어 요청하신 페이지를 찾을 수 없습니다. <br>
                관련 문의사항은 고객센터에 알려주시면 친절하게 안내해 드리겠습니다. <br>
                감사합니다.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/" class="btn btn-primary btn-lg px-4 gap-3">메인 화면</a>
            <a href="javascript: window.history.back();" class="btn btn-outline-secondary btn-lg px-4">뒤로가기</a>
            </div>
        </div>
    </div>

</body>
</html>