<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입</h1>
    <form action="/join" method="post">
        <!-- csrf -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        
        <input type="text" name="userId" placeholder="아이디"> <br>
        <input type="password" name="userPw" placeholder="비밀번호"> <br>
        <input type="password" name="userPwCheck" placeholder="비밀번호 확인"> <br>
        <input type="text" name="name" placeholder="이름"> <br>
        <input type="text" name="email" placeholder="이메일"> <br>

        <input type="submit" value="회원가입">
    </form>
</body>
</html>