<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/user/layout/main_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body layout:fragment="content">
    <main class="form-signin my-5 w-100 m-auto" style="max-width: 400px;">
        <h1 class="text-center py-3">회원가입</h1>

        <form class="needs-validation" novalidate action="/join" method="post">
            <!-- csrf -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div class="row g-3">
  
              <div class="col-12">
                <label for="userId" class="form-label">아이디</label>
                <div class="input-group has-validation">
                  <!-- <span class="input-group-text">아이디</span> -->
                  <input type="text" class="form-control" id="userId" placeholder="아이디" required
                         name="userId">
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>

              <div class="col-12">
                <label for="userPw" class="form-label">비밀번호</label>
                <div class="input-group has-validation">
                  <input type="password" class="form-control" id="userPw" placeholder="비밀번호" required
                         name="userPw">
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>

              <div class="col-12">
                <label for="userPwCheck" class="form-label">비밀번호 확인</label>
                <div class="input-group has-validation">
                  <input type="password" class="form-control" id="userPwCheck" placeholder="비밀번호 확인" required
                         name="userPwCheck">
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>
  
              <div class="col-12">
                <label for="name" class="form-label">이름</label>
                <input type="text" class="form-control" id="name" placeholder="이름"
                       name="name">
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>

              <div class="col-12">
                <label for="email" class="form-label">이메일 <span class="text-body-secondary">(선택사항)</span></label>
                <input type="email" class="form-control" id="email" placeholder="email@example.com"
                       name="email">
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>
  
            </div>
  
            <hr class="my-4">
  
            <button class="w-100 btn btn-primary btn-lg" type="submit">회원가입</button>
        </form>
    
    </main>

</body>
</html>