<!-- user - header -->
<!-- ~UI/user/fragment/header -->
<th:block th:fragment="header">
    <header data-bs-theme="dark">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <!-- 사이트 이름 -->
            <a class="navbar-brand" href="#">Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <!-- 메뉴 목록 (gnb) -->
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
              </ul>


              <!-- 비 로그인 시 -->
              <th:block sec:authorize="isAnonymous()">
                <ul class="navbar-nav d-flex align-items-center px-3">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/login">로그인</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/join">회원가입</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/user/order">주문내역</a>
                  </li>
                </ul>
              </th:block>


              <!-- 유저 프로필 -->
              <!-- 로그인 시 -->
              <th:block sec:authorize="isAuthenticated()">
                <div class="dropdown text-end mx-3">
                  <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    <strong sec:authentication="principal.users.userId">아이디</strong>
                  </a>
                  <ul class="dropdown-menu text-small">
                    <!-- 관리자 메뉴 -->
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                      <li><a class="dropdown-item" href="/admin">관리자</a></li>
                    </th:block>
                    <li><a class="dropdown-item" href="/user">마이 페이지</a></li>
                    <li><a class="dropdown-item" href="/user/update">회원정보 수정</a></li>
                    <li><a class="dropdown-item" href="/user/order">주문내역</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <form action="/logout" method="post">
                        <!-- csrf token -->
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit" class="dropdown-item">로그아웃</button>
                      </form>
                    </li>
                  </ul>
                </div>
              </th:block>

              <!-- 검색창 -->
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      </header>

</th:block>