<!-- user - sidebar -->
<!-- ~UI/user/fragment/sidebar -->
<th:block th:fragment="sidebar">
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a href="/user" class="nav-link d-flex align-items-center gap-2" aria-current="page" >
                  <svg class="bi"><use xlink:href="#house-fill"/></svg>
                  마이 페이지
                </a>
              </li>
              <li class="nav-item">
                <a href="/user/update" class="nav-link d-flex align-items-center gap-2" >
                  <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                  회원정보 수정
                </a>
              </li>
              <li class="nav-item">
                <a href="/user/order" class="nav-link d-flex align-items-center gap-2" >
                  <svg class="bi"><use xlink:href="#cart"/></svg>
                  주문내역
                </a>
              </li>
            </ul>
  
            <hr class="my-3">
            
          </div>
        </div>
      </div>

      <script>
        $('[href="' + window.location.pathname + '"]').addClass('active')
        
      </script>
</th:block>