<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/user/layout/user_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지</title>

</head>
<body layout:fragment="content">

    <div class="container p-4">
        <h1 class="text-center my-3">마이 페이지</h1>
    
        <form action="/logout" method="post">
            <!-- csrf token -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    
            <div class="btn-box d-grid gap-2">
                <a href="/user/update" class="btn btn-outline-primary btn-lg">회원정보 수정</a>
                <a href="/user/order" class="btn btn-outline-primary btn-lg">주문내역</a>
                <button type="submit" class="btn btn-outline-primary btn-lg">로그아웃</button>
            </div>
        </form>

    </div>
</body>
</html>