<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>
</head>
<body>
    <h1>게시글 조회</h1>
    <form action="/board/delete" method="POST" id="form">
        <input type="hidden" name="boardNo" th:value="${board.boardNo}">
        <table>
            <tr>
                <td>제목</td>
                <td>
                    <input type="text" name="title" th:value="${board.title}">
                </td>
            </tr>
            <tr>
                <td>작성자</td>
                <td>
                    <input type="text" name="writer" th:value="${board.writer}">
                </td>
            </tr>
            <tr>
                <td>내용</td>
                <td>
                    <textarea name="content" cols="40" rows="5" th:text="${board.content}"></textarea>
                </td>
            </tr>
            <tr>
                <td>파일</td>
                <td>
                    <ul>
                        <!-- 파일 목록 -->
                        <th:block th:each="file : ${fileList}">
                            <li>
                                <!-- 파일 다운로드 -->
                                <a th:href="|/file/${file.fileNo}|" th:text="${file.originName}"></a>         
                                <button type="button" class="btn-file-delete" th:data="${file.fileNo}">삭제</button>
                            </li>
                        </th:block>
                    </ul>
                </td>
            </tr>
        </table>
        <div>
            <button type="button" onclick="moveList()">목록</button>
            <button type="button" onclick="moveUpdate()">수정</button>
            <button type="button" onclick="actionDelete()">삭제</button>
        </div>
    </form>

    <script>
        let form = document.getElementById('form')
        // 👩‍💻 모델 객체를 자바스크립트에서 표현하는 방법
        let boardNo = "[[${board.boardNo}]]"
        let btnFileDelete = document.querySelectorAll(".btn-file-delete")


        // 파일 삭제 버튼 클릭 이벤트
        for (let i = 0; i < btnFileDelete.length; i++) {
            
            btnFileDelete[i].addEventListener('click', function() {
                let btn = this
                let fileNo = this.getAttribute('data')
                
                let data = { 
                    fileNo : fileNo
                }

                let request = new XMLHttpRequest()

                // DELETE 메소드로 Content-Type 지정 안 하면, 데이터가 body 담기지 않는다.
                // - 쿼리스트링(요청 파라미터)에 데이터를 넘겨준다.
                request.open('DELETE', '/file?fileNo=' + fileNo, true)
                request.send( data )
                // DELETE 메소드로 Content-Type 지정하면, 데이터가 body 에 담긴다.
                // request.open('DELETE', '/file' + fileNo, true)
                // request.setRequestHeader("Content-Type", "application/json")
                // request.send( JSON.stringify(data) )
                
                request.onreadystatechange = function() {

                    // 요청 성공 시,
                    if( request.readyState == request.DONE && request.status == 200 ) {
                        console.log('파일 삭제 성공');
                        // 파일 항목 제거
                        btn.parentNode.remove()
                    }

                }



            })
            
        }
        
        // 목록으로 이동
        function moveList() {
            location.href = "/board/list"
        }

        // 수정으로 이동
        function moveUpdate() {
            location.href = "/board/update?boardNo=" + boardNo
        }

        // 삭제 요청
        function actionDelete() {
            let check = confirm('정말로 삭제하시겠습니까?')
            if( check )
                form.submit()
        }

    </script>
</body>
</html>