<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- SQL의 언더스코어 케이스를 자바의 카멜케이스로 매핑하는 기능 활성화 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>


	<!-- resultType 설정 -->
	<typeAliases>
		<!-- 패키지부터의 전체경로를 갖는 자바 타입을 축약해서 별칭으로 지정 -->
		<!-- <typeAlias alias="Users"  type="com.joeun.springsecurity5.dto.Users"/>
		<typeAlias alias="UserAuth"  type="com.joeun.springsecurity5.dto.UserAuth"/> -->

		<package name="com.joeun.springsecurity5.dto"/>
	</typeAliases>

</configuration>
