<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.joeun.shop.mapper.BaseMapper">
   
    <!-- 기본 등록 -->
    <insert id="insert">
        INSERT INTO base( base_id, base_name )
        VALUES ( #{baseId}, #{baseName} )
    </insert>

    <!-- 기본 조회 -->
    <select id="select" resultType="base">
        SELECT *
        FROM base
        WHERE base_no = #{baseNo}
    </select>

    <!-- 기본 수정 -->
    <update id="update">
        UPDATE base
           SET base_id = #{baseId}
              ,base_name = #{baseName}
        WHERE base_no = #{baseNo}
    </update>


    <!-- 기본 수정 -->
    <delete id="delete">
        DELETE FROM base
        WHERE base_no = #{baseNo}
    </delete>

	

</mapper>