<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/main_layout}"
      >
<head>
    <title>메인 화면</title>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>
<body layout:fragment="content">
    <!-- th:replace : 프래그먼트 대체 속성 -->
    <!-- <th:block th:replace="~{fragment/header::header}"></th:block> -->

    <div class="container">
        <h3>CONTENT</h3>
    </div>

    <!-- <th:block th:replace="~{fragment/footer::footer}"></th:block> -->
</body>
</html>