<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joeun.security5mybatis.mapper.CodeMapper">

    <!-- 코드 그룹 - 전체 조회 -->
    <select id="list" resultType="Code">
        SELECT * FROM code
    </select>

    <!-- 코드 그룹 등록 -->
    <insert id="insert">
        INSERT INTO code( group_code, name, value, seq, use_yn, upd_id )
        VALUES ( #{groupCode}, #{name}, #{value}, #{seq}, #{useYn}, #{updId} )
    </insert>

    <!-- 코드 그룹 조회 -->
    <select id="select" resultType="Code">
        SELECT *
        FROM code
        WHERE code_no = #{codeNo}
    </select>

    <!-- 코드 그룹 수정 -->
    <update id="update">
        UPDATE code
           SET group_code = #{groupCode}
              ,name = #{name}
              ,value = #{value}
              ,seq = #{seq}
              ,use_yn = #{useYn}
              ,upd_date = now()
              ,upd_id = #{updId}
        WHERE code_no = #{codeNo}
    </update>

    <!-- 코드 그룹 삭제 -->
    <delete id="delete">
        DELETE FROM code
        WHERE code_no = #{codeNo}
    </delete>



    
    <!-- 
        코드 그룹 조회 
        - group_code 
    -->
    <select id="selectByGroupCode" resultType="Code">
        SELECT *
        FROM code
        WHERE group_code = #{groupCode}
    </select>

</mapper>
