<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joeun.security5mybatis.mapper.UserAuthMapper">

    <!-- 회원 권한 조회 -->
    <select id="list" resultType="UserAuth">
        SELECT *
        FROM user_auth
    </select>

    <!-- 회원 권한 조회 -->
    <select id="select" resultType="UserAuth">
        SELECT *
        FROM user_auth
        WHERE auth_no = #{authNo}
    </select>

    <!-- 회원 권한 등록 -->
    <insert id="insert">
        INSERT INTO user_auth( user_id, auth ) 
        VALUES ( #{userId}, #{auth} )
    </insert>

    <!-- 회원 권한 수정 -->
    <update id="update">
        UPDATE user_auth
           SET user_id = #{userId}
              ,auth = #{auth}
        WHERE auth_no = #{authNo}
    </update>


    <!-- 회원 권한 삭제 -->
    <delete id="delete">
        DELETE FROM user_auth
        WHERE auth_no = #{authNo}
    </delete>


    <!-- 
        회원 권한 삭제 
        - user_id
        - auth
    -->
    <delete id="deleteByUserIdAndAuth">
        DELETE FROM user_auth
        WHERE user_id = #{userId}
          AND auth = #{auth}
    </delete>




    
</mapper>
