<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코드 관리</title>
</head>
<body>
    <h1>코드 관리</h1>
    <ul>
        <li>
            <a href="/admin/code/groups">코드 그룹 관리</a>
            <ul>
                <li>
                    <a href="/admin/code/codes">코드 관리</a>
                </li>
            </ul>
        </li>
    </ul>
    <hr>
    <form action="/admin/code/codes" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" name="updId" th:value="${#authentication.principal.username}" >
        <div>
            <label for="group_code">그룹 코드</label> : 
            <select name="groupCode" id="group_code">
                <option value="" disabled selected>선택하세요</option>
                <th:block th:each="codeGroup : ${codeGroupList}">
                    <option th:value="${codeGroup.groupCode}" th:text="|${codeGroup.groupCode} (${codeGroup.groupName})|"></option>
                </th:block>
            </select>
        </div>
        <div>
            <label for="code_name">코드 명</label> :
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="value">값</label> :
            <input type="text" name="value" id="value">
        </div>
        <div>
            <label for="seq">순서</label> :
            <input type="text" name="seq" id="seq">
        </div>
        <div>
            <label for="use_yn">사용여부</label> :
            <input type="radio" name="useYn" id="use_yn1" value="Y" checked>
            <label for="use_yn1">Y</label>
            <input type="radio" name="useYn" id="use_yn2" value="N">
            <label for="use_yn2">N</label>
        </div>
        <div>
            <button type="submit">등록</button>
        </div>
    </form>

    <hr>
    <table border="1">
        <thead>
            <tr>
                <th>Group Code</th>
                <th>Code Name</th>
                <th>Value</th>
                <th>Seq</th>
                <th>UseYn</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:if="${codeList.isEmpty()}">
                <tr>
                    <td colspan="5" align="center">조회된 데이터가 없습니다.</td>
                </tr>
            </th:block>
            <tr th:each="code : ${codeList}">
                <td th:text="${code.groupCode}"></td>
                <td th:text="${code.name}"></td>
                <td th:text="${code.value}"></td>
                <td th:text="${code.seq}"></td>
                <td th:text="${code.useYn}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
