<!-- user - sidebar -->
<!-- ~UI/user/fragment/sidebar -->
<th:block th:fragment="sidebar">
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            <ul class="nav nav-pills flex-column">
              <!-- 관리자 메뉴 -->
              <!-- 
                  ✅ 회원 관리
                  ✅ 상품 관리
                  ✅ 주문 관리
                  ✅ 결제 관리
                  ✅ 매출 관리
                  ✅ 코드 관리
              -->
              <li class="nav-item d-flex justify-content-end">
                <a href="javascript:;" class="collapse-all">
                  <span class="material-icons md-48" style="border: 1px solid black;">unfold_less</span>
                </a>
                <a href="javascript:;" class="open-all">
                  <span class="material-icons md-48" style="border: 1px solid black;">unfold_more</span>
                </a>
                <a href="javascript:;">
                  <span class="material-icons md-48" style="border: 1px solid black;">open_in_full</span>
                </a>

              </li>
              <li class="nav-item">
                <a class="nav-link collapsed d-flex align-items-center gap-2" data-bs-toggle="collapse" data-bs-target="#menu_item0" href="#" aria-expanded="false">
                  <span class="material-icons md-48">contact_page</span>
                  회원 관리
                  <span class="material-icons md-48">arrow_drop_down</span>
                </a>
                <ul id="menu_item0" class="submenu collapse" data-bs-parent="#nav_accordion" style="list-style-type: none;">
                    <li>
                      <a class="nav-link d-flex align-items-center gap-2" href="/admin/user">
                        <span class="material-icons md-48">face</span>
                        회원 관리
                      </a>
                    </li>
                    <li>
                      <a class="nav-link d-flex align-items-center gap-2" href="/admin/auth">
                        <span class="material-icons md-48">badge</span>
                        권한 관리
                      </a>
                    </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link collapsed d-flex align-items-center gap-2" data-bs-toggle="collapse" data-bs-target="#menu_item1" href="#" aria-expanded="false">
                  <span class="material-icons md-48">inventory</span>
                  상품 관리
                  <span class="material-icons md-48">arrow_drop_down</span>
                </a>
                <ul id="menu_item1" class="submenu collapse" data-bs-parent="#nav_accordion" style="list-style-type: none;">
                    <li>
                      <a class="nav-link d-flex align-items-center gap-2" href="/admin/category">
                        <span class="material-icons md-48">category</span>
                        카테고리 관리
                      </a>
                    </li>
                    <li>
                      <a class="nav-link d-flex align-items-center gap-2" href="/admin/product">
                        <span class="material-icons md-48">redeem</span>
                        상품 관리
                      </a>
                    </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link collapsed d-flex align-items-center gap-2" data-bs-toggle="collapse" data-bs-target="#menu_item2" href="#" aria-expanded="false">
                  <span class="material-icons md-48">local_mall</span>
                  주문 관리
                  <span class="material-icons md-48">arrow_drop_down</span>
                </a>
                <ul id="menu_item2" class="submenu collapse" data-bs-parent="#nav_accordion" style="list-style-type: none;">
                    <li>
                      <a class="nav-link d-flex align-items-center gap-2" href="/admin/order">
                        <span class="material-icons md-48">search</span>
                        주문 관리
                      </a>
                    </li>
                    <li>
                      <a class="nav-link d-flex align-items-center gap-2" href="/admin/ship">
                        <span class="material-icons md-48">local_shipping</span>
                        배송 관리
                      </a>
                    </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link collapsed d-flex align-items-center gap-2" data-bs-toggle="collapse" data-bs-target="#menu_item3" href="#" aria-expanded="false">
                  <span class="material-icons md-48">credit_card</span>
                  결제 관리
                  <span class="material-icons md-48">arrow_drop_down</span>
                </a>
                <ul id="menu_item3" class="submenu collapse" data-bs-parent="#nav_accordion" style="list-style-type: none;">
                    <li>
                      <a class="nav-link d-flex align-items-center gap-2" href="/admin/payments">
                        <span class="material-icons md-48">payments</span>
                        수동 결제
                      </a>
                    </li>
                    <li>
                      <a class="nav-link d-flex align-items-center gap-2" href="/admin/refund">
                        <span class="material-icons md-48">assignment_return</span>
                        환불 처리
                      </a>
                    </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link collapsed d-flex align-items-center gap-2" data-bs-toggle="collapse" data-bs-target="#menu_item4" href="#" aria-expanded="false">
                  <span class="material-icons md-48">bar_chart</span>
                  매출 관리
                  <span class="material-icons md-48">arrow_drop_down</span>
                </a>
                <ul id="menu_item4" class="submenu collapse" data-bs-parent="#nav_accordion" style="list-style-type: none;">
                    <li>
                      <a class="nav-link d-flex align-items-center gap-2" href="/admin/payments">
                        <span class="material-icons md-48">bar_chart</span>
                        매출 차트
                      </a>
                    </li>
                    <li>
                      <a class="nav-link d-flex align-items-center gap-2" href="/admin/refund">
                        <span class="material-icons md-48">monetization_on</span>
                        매출 관리
                      </a>
                    </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link collapsed d-flex align-items-center gap-2" data-bs-toggle="collapse" data-bs-target="#menu_item5" href="#" aria-expanded="false">
                  <span class="material-icons md-48">support_agent</span>
                  고객 관리
                  <span class="material-icons md-48">arrow_drop_down</span>
                </a>
                <ul id="menu_item5" class="submenu collapse" data-bs-parent="#nav_accordion" style="list-style-type: none;">
                    <li>
                      <a class="nav-link d-flex align-items-center gap-2" href="/admin/payments">
                        <span class="material-icons md-48">help</span>
                        상품 문의
                      </a>
                    </li>
                    <li>
                      <a class="nav-link d-flex align-items-center gap-2" href="/admin/refund">
                        <span class="material-icons md-48">chat</span>
                        상품 후기
                      </a>
                    </li>
                </ul>
              </li>
              <hr class="my-3">
              <li class="nav-item">
                <a class="nav-link collapsed d-flex align-items-center gap-2" data-bs-toggle="collapse" data-bs-target="#menu_item6" href="#" aria-expanded="false">
                  <span class="material-icons md-48">settings</span>
                  코드 관리
                  <span class="material-icons md-48">arrow_drop_down</span>
                </a>
                <ul id="menu_item6" class="submenu collapse" data-bs-parent="#nav_accordion" style="list-style-type: none;">
                    <li>
                      <a class="nav-link d-flex align-items-center gap-2" href="/admin/code/group">
                        <span class="material-icons md-48">data_object</span>
                        코드 그룹 관리
                      </a>
                    </li>
                    <li>
                      <a class="nav-link d-flex align-items-center gap-2" href="/admin/code/detail">
                        <span class="material-icons md-48">code</span>
                        코드 관리
                      </a>
                    </li>
                </ul>
              </li>

            </ul>
  
            <hr class="my-3">
            
          </div>
        </div>
      </div>

      <script>
        // URL : http://localhost:8080/user/update
        // window.location.pathname : /user/update
        $('[href="' + window.location.pathname + '"]').addClass('active')
        
        $('.collapse-all').on('click', function() {
          $('.sidebar .collapse').collapse('hide')
        })
        $('.open-all').on('click', function() {
          $('.sidebar .collapse').collapse('show')
        })
        
      </script>
</th:block>