<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link -->
    <th:block th:replace="~{fragment/link::link}"></th:block>
</head>
<body>
    <!-- header -->
    <th:block th:replace="~{fragment/header::header}"></th:block>
    
    <!-- content -->
    <th:block layout:fragment="content"></th:block>
    
    <!-- footer -->
    <th:block th:replace="~{fragment/footer::footer}"></th:block>

    <!-- script -->
    <th:block th:replace="~{fragment/script::script}"></th:block>
</body>
</html>